*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    /* ### Primary */

--Green: hsl(75, 94%, 57%);

/* ### Neutral */

--White: hsl(0, 0%, 100%);
--Grey: hsl(0, 0%, 20%);
--Dark-Grey: hsl(0, 0%, 12%);
--Off-Black: hsl(0, 0%, 8%);

}