*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: ofl;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
:root{
    /* ### Primary */

--Green: hsl(75, 94%, 57%);

/* ### Neutral */

--White: hsl(0, 0%, 100%);
--Grey: hsl(0, 0%, 20%);
--Dark-Grey: hsl(0, 0%, 12%);
--Off-Black: hsl(0, 0%, 8%);

}
body{
    height: 100vh;
    background-color: var(--Off-Black);
    color: var(--White);
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 0.8rem;
    font-family: ofl, 'Courier New', Courier, monospace;
}

.imo{
    border-radius: 50%;
    width: 40%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
main{
    display: grid;
    text-align: center;
    padding: 20px;
    border-radius: 7px;
    background-color: var(--Dark-Grey);
}

.linkage{
    display: grid;
    grid-template-columns: 5fr;


}
.image{
    display: grid;
    align-items: center;
    justify-content: center;

}


.linkage > a{
    margin: 0px 0px 10px 0px;
    padding: 15px;
    width: 100%;
    text-decoration: none;
    color: var(--White);
    border: none;
    background-color: var(--Grey);
    border-radius: 7px;
}



.location{
    color: var(--Green);
    font-size: 0.7rem;
}
.para{
    margin: 20px 0px 20px 0px;
}
h2{
    margin: 10px 0px 10px 0px;
}
.linkage> a:hover{
    color: var(--Off-Black);
    font-weight: bold;
    background-color: var(--Green);
}



